<head>
  <title>Soccer Bet 2016</title>
  <link rel="icon" type="image/png" href="/soccer-ball-menu-icon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
</body>
