<template name="result_update">
  {{> breadcrumb}}
  {{#if Template.subscriptionsReady}}
  {{#staggering}}
  <div class="content">
    <div class="row">
      <div>
        {{> game_list init=initFilter noFuture=true}}
      </div>
    </div>
  </div>
  {{/staggering}}
  {{/if}}
</template>
