<template name="user">
  {{> breadcrumb}}
  {{#if Template.subscriptionsReady}}
  {{#staggering}}
  <div class="content">
    <div class="row">
      <div class="panel panel-default col-md-offset-3 col-md-6 col-xs-12">
        <div class="panel-body">
          {{#with user}}
            <div class="form-group">
              <label for="name" class="control-label">Display Name</label>
              <input type="text" class="form-control" placeholder="Display name" id="name" aria-describedby="name-desc" value={{name}}>
              <span id="name-desc" hidden="true">Display name</span>
            </div>
            {{#if hasUsername}}
              <div class="form-group">
                <label for="username" class="control-label">Username</label>
                <input type="text" class="form-control" placeholder="Username" id="username" aria-describedby="username-desc" value="{{username}}">
                <span id="username-desc" hidden="true">Username</span>
              </div>
            {{/if}}
            {{#if hasEmail}}
              <div class="form-group">
                <label for="email" class="control-label">Email</label>
                <input type="text" class="form-control" placeholder="Email" id="email" aria-describedby="email-desc" value={{email}}>
                <span id="name-desc" hidden="true">Email</span>
              </div>
            {{/if}}
            <div class="form-group">
              <div class="panel panel-success">
                <div class="panel-body">
                  <label for="current-roles" class="control-label">Roles</label><br>
                  {{#each currentRoles}}
                    <span class="label label-success user-role">
                      {{this}}
                      <span class="splitter"></span>
                      <span class="glyphicon glyphicon-remove adjusted"></span>
                    </span>&nbsp;
                  {{/each}}
                  <hr>
                  {{#each otherRoles}}
                    <span class="label label-default user-role">
                      {{name}}
                      <span class="splitter"></span>
                      <span class="glyphicon glyphicon-plus adjusted"></span>
                    </span>&nbsp;
                  {{/each}}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <button class="btn btn-primary form-control js-update">Save</button>
                </div>
                <div class="col-xs-6">
                  <button class="btn btn-default form-control js-cancel">Cancel</button>
                </div>
              </div>
            </div>
          {{/with}}
        </div>
      </div>
    </div>
  </div>
  {{/staggering}}
  {{/if}}
</template>
