<template name="player_games">
  {{> breadcrumb}}
  {{#if Template.subscriptionsReady}}
  {{#staggering}}
  <div class="content">
    {{> game_list init=initFilter noPast=true}}
  </div>
  {{/staggering}}
  {{/if}}
</template>
