<template name="settings">
  {{> breadcrumb}}
  {{#if Template.subscriptionsReady}}
  {{#staggering}}
  <div class="content">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4 col-lg-offset-1">
        <h3>Change Display Name</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <form id="change-name">
              <div class="form-group">
                <label class="control-label" for="name">Display Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Display Name" value={{displayName}}>
                <span class="help-block hidden"></span>
              </div>
              <button type="submit" class="btn btn-block btn-default" id="">Change</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 col-lg-offset-1">
        <h3>Change password</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <form id="change-password">
              <div class="form-group">
                <label class="control-label" for="old-password">Old password</label>
                <input type="password" class="form-control" name="old-password" id="old-password" placeholder="Old password">
                <span class="help-block hidden"></span>
              </div>
              <div class="form-group">
                <label class="control-label" for="new-password">New password</label>
                <input type="password" class="form-control" name="new-password" id="new-password" placeholder="New password">
                <span class="help-block hidden"></span>
              </div>
              <div class="form-group">
                <label class="control-label" for="new-password-again">New password again</label>
                <input type="password" class="form-control" name="new-password-again" id="new-password-again" placeholder="New password again">
                <span class="help-block hidden"></span>
              </div>
              <button type="submit" class="btn btn-block btn-default" id="">Change</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/staggering}}
  {{/if}}
</template>
