<template name="history_game_player">
  {{> breadcrumb}}
  {{#if Template.subscriptionsReady}}
  {{#staggering}}
  <div class="content">
    {{#with game}}
      <h3>{{gameDate}}</h3>
      {{> game_item}}
      <h3>{{player.name}}</h3>
      {{#with notBet}}
        <h4 class="alert alert-danger">{{bet}} credits were automatically deducted due to missing bet.</h4>
      {{else}}
        <h4 class="alert alert-success">Result/Bet: {{totalStake}}</h4>
      {{/with}}
      <div class="row">
        {{#each markets}}
          <div class="col-lg-3 col-md-4 col-xs-12 market-item">
            <div class="panel panel-default">
              <div class="panel-heading" data-index={{@index}}>
                <label>{{name}}</label>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    {{#each odds}}
                      <div class="js-odd {{statusClass}}">
                        <span>{{name}}</span>
                        <span class="pull-right">{{value}}</span>
                        {{#with slip}}
                          <span class="bet-amount">{{totalStake this}}</span>
                        {{/with}}
                      </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/with}}
  </div>
  {{/staggering}}
  {{/if}}
</template>
