<template name="history_game">
  {{> breadcrumb}}
  {{#if Template.subscriptionsReady}}
  {{#staggering}}
  <div class="content">
    {{#with game}}
      <h4>{{gameDate}}</h4>
      {{> game_item}}
      <div class="row">
        <h3>&nbsp;</h3>
        {{#each markets}}
          <div class="col-lg-3 col-md-4 col-xs-12 market-item">
            <div class="panel panel-default">
              <div class="panel-heading" data-index={{@index}}>
                <label>{{name}}</label>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    {{#each odds}}
                      <div class="js-odd{{#if win}} mark{{/if}}">
                        <span>{{name}}</span>
                        <span class="pull-right">{{value}}</span>
                      </div>
                      {{> odd_players players=players}}
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
      {{#if players}}
      <div class="row">
        <h3>Did not bet</h3>
        {{> odd_players players=players}}
      </div>
      {{/if}}
    {{/with}}
  </div>
  {{/staggering}}
  {{/if}}
</template>

<template name="odd_players">
  {{#if players}}
  <div class="player-names">
  {{#each players}}
    <span class="label label-{{type}} player-name">{{name}} ({{stake}})</span>
  {{/each}}
  </div>
  {{/if}}
</template>
