<template name="ranking_games">
  {{> breadcrumb}}
  {{#if Template.subscriptionsReady}}
  {{#staggering}}
  <div class="content">
    <div class="row">
      {{> game_list init=initFilter}}
    </div>
  </div>
  {{/staggering}}
  {{/if}}
</template>
