<template name="ranking_game">
  {{> breadcrumb}}
  {{#if Template.subscriptionsReady}}
    {{#staggering}}
    <div class="content">
      {{#with game}}
        <h3>{{gameDate}}</h3>
        {{> game_item}}
      {{/with}}
      <h3>&nbsp;</h3>
      {{> ranking players=players}}
    </div>
    {{/staggering}}
  {{/if}}
</template>
