<template name="player_of_game">
  <div class="col-xs-12 col-lg-6 player-of-game">
    <h3>Player of Last Game</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        {{#with lastMatch}}
        <h4>{{gameDate}}</h4>
        {{> game_item}}
        <!-- {{> home_player_item header="Highest Rate Winner" selector=mostEffPlayer}} -->
        {{> home_player_item header="Highest Point Winner" selector=mostWonPlayer}}
        {{> home_player_item header="Most Bet Player" selector=mostBetPlayer}}
        {{/with}}
      </div>
    </div>
  </div>
</template>

<template name="home_player_item">
  {{#if Template.subscriptionsReady}}
  <h4>{{header}}</h4>
  {{#with player}}
  <div class="row home-player-item">
    <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> -->
    <div class="col-xs-12">
      <span class="home-player-item-name">{{playerName}}</span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <span class="label label-warning">Bet: {{formatFloat bet_sum}}</span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <span class="label label-{{labelClass}}">Result: {{formatFloat win_point}}</span>
    </div>
    <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <span class="label label-primary">Rate: {{formatFloat win_rate}}</span>
    </div> -->
  </div>
  {{/with}}
  {{/if}}
</template>
